// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

html {
  @apply scroll-smooth;
}

body {
  @apply m-0 bg-stone-100 bg-cover bg-center bg-no-repeat text-lg text-stone-900 dark:bg-stone-900 dark:text-stone-100;
}
