<footer class="footer py-4">
    <div class="container-fluid">
      <div class="row align-items-center justify-content-lg-between">
        <div class="col-lg-6 text-sm text-muted">
          © {{ year }} made with ❤️ by Creative Tim
        </div>
        <div class="col-lg-6">
          <ul class="nav nav-footer justify-content-end">
            <li class="nav-item">
              <a class="nav-link text-muted">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-muted">License</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  