// -----------------------------------------------------------------------------
// This file contains all styles related to the root component of the site/application.
// -----------------------------------------------------------------------------

app-root {
  // @apply flex h-screen flex-col p-0;
  @apply flex min-h-screen flex-col bg-[#f9fbf9];

  // section {
  //   @apply order-2 my-5 flex w-full flex-1 flex-col space-y-4 md:flex-row md:space-x-4 md:space-y-0;
  // }
}
