header {
  @apply flex;

  .left,
  .right {
    @apply flex-1;

    button {
      @apply mr-4;
    }

    .material-symbols-outlined {
      @apply align-middle text-3xl;
    }
  }

  .left {
    @apply text-left;

    img {
      @apply -mt-4 mr-3 hidden w-12 cursor-pointer md:inline-block;
    }

    h1 {
      @apply mr-2 inline-block text-2xl md:text-4xl;
    }
  }

  .right {
    @apply text-right;

    img {
      @apply inline-block w-11 rounded-lg;
    }
  }
  
  :host ul {
    @apply m-0 list-none;
  
    li {
      @apply px-3 py-2.5 text-center;
  
      &.active {
        @apply border-2 border-solid border-stone-600 px-3 py-2.5 font-bold border-sketch-2 dark:border-stone-100;
      }
    }
  }  

}
