<header>
  <div class="left">
    <img
      [routerLink]="'/welcome' | localizeRoute"
      [defaultImage]="logo"
      [lazyLoad]="logo"
      alt="Avatar"
      loading="lazy"
      width="3rem"
      height="3rem"
    />
    <h1>{{ title }}</h1>
    <span>v{{ version }}</span>
  </div>
  <div class="center">
    <div class="relative ml-3">
  
      <div>
        <button 
          (click)="toggleDropdown()" 
          type="button" 
          class="flex text-sm bg-gray-800 rounded-full focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600" 
          aria-expanded="false">
          <span class="sr-only">Open user menu</span>
          <img class="w-8 h-8 rounded-full" src="assets/images/avatar.png" alt="user photo">
                </button>
      </div>
    
      <div 
        *ngIf="isOpen" 
        class="absolute right-0 z-50 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none dark:bg-gray-700"
        role="menu" 
        aria-orientation="vertical" 
        tabindex="-1">
        <nav *transloco="let t; read: 'navbar'">
          <ul>
            <li
              [routerLinkActive]="['active']"
              [routerLinkActiveOptions]="{ exact: false }"
              *ngFor="let menuEntry of menuEntries"
            >
              <a [routerLink]="menuEntry['link'] | localizeRoute">{{ t(menuEntry['labelId']) }}</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <div class="right">
    <button (click)="toggleDarkMode()" [ngSwitch]="isDarkMode" class="theme-selector">
      <span *ngSwitchCase="false" class="material-symbols-outlined">dark_mode</span>
      <span *ngSwitchCase="true" class="material-symbols-outlined">light_mode</span>
    </button>

    <img
      [defaultImage]="isDarkMode ? darkAvatar : lightAvatar"
      [lazyLoad]="isDarkMode ? darkAvatar : lightAvatar"
      alt="Avatar"
      loading="lazy"
      width="2.75rem"
      height="2.75rem"
    />
  </div>
</header>
